<section class="certifications" id="certificaciones">
  <h1 class="section-title">Mis Certificaciones</h1>

  <div class="certifications-container">
    <div class="card">
      <h2>Desarrollo Web Front End</h2>
      <p>Emitida por: <strong>SMARTMIND S.L.</strong></p>
      <a href="/assets/pdf/front-end%20copia.pdf" target="_blank">Ver Certificado</a>
    </div>
    <div class="card">
      <h2>Certificación en Linux</h2>
      <p>Emitida por: <strong>DATACONTROL FORMACIÓN, S.L</strong></p>
      <a href="/assets/pdf/Diploma%20Linux%20copia.pdf" target="_blank">Ver Certificado</a>
    </div>
    <div class="card">
      <h2>Programación Orientada a Objetos Java & Spring Framework</h2>
      <p>Emitida por: <strong></strong></p>
      <a  target="_blank">Ver Certificado</a>
    </div>
    <div class="card">
      <h2>Certificación en SQL</h2>
      <p>Emitida por: <strong>Centro de Estudios Butarque</strong></p>
      <a href="/assets/pdf/SQL%20copia.pdf" target="_blank">Ver Certificado</a>
    </div>
    <div class="card">
      <h2>Machine Learning</h2>
      <p>Emitida por: <strong>Nascor Formación</strong></p>
      <a href="/assets/pdf/marchin%20learning%20copia.pdf" target="_blank">Ver Certificado</a>
    </div>
    <div class="card">
      <h2>Programacion con Python</h2>
      <p>Emitida por: <strong>Centro de Formacion Profesional en Tecnologías de la Información y Comunicaciones</strong></p>
      <a href="/assets/pdf/visualizaciondatos.pdf" target="_blank">Ver Certificado</a>
    </div>
  </div>
</section>
