<section id="projects" class="projects-section" xmlns="http://www.w3.org/1999/html">

  <div class="container">
    <h2 class="section-title">Mis Proyectos</h2>
    <div class="row">
      <div class="col-md-4">

        <div class="card">
          <img [src]="ecom"  class="img" >
          <div class="card-body">
            <h5 class="card-title">Ecomerce</h5>
            <p class="card-text">Creacion de una aplicación de comercio electrónico con Java, Spring Data Jpa, Spring security con JWT, Spring Web, con base de datos MySQl alojada en RDS.
               la parte Back-End esta desplegada en <strong> AWS EC2 </strong> a traves de Docker y un servidor inveso con Nginx.
               La parte Front ha sido desarrolada en Agular y esta desplegada en <strong> Vercel </strong></p>
            <a href="https://ecommerce-web-orpin.vercel.app" class="btn btn-outline-light" target="_blank">Ecomerce-Web</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img [src]="market"  class="img" >
          <div class="card-body">
            <h5 class="card-title">Market</h5>
            <p class="card-text">Creacion de un proyecto market para registrar usuarios ver pedidos categorias de productos.
              La arquitecura esta basada en microservicios con Java y Sprig FrameWork.
              La base de datos MySQL esta alojada en RDS de AWS y los microservicios estan desplegados a traves de docker compose en EC2</p>
            <a href="https://registro-front.vercel.app" class="btn btn-outline-light" target="_blank">Market-Web</a>
          </div>
        </div>
      </div>




    </div>
  </div>
</section>
