
<section id="projects" class="projects-section">

  <div class="container">
    <h2 class="section-title">Mis Proyectos</h2>
    <div class="row">
      <div class="col-md-4">

        <div class="card">
          <img [src]="caja"  class="img" alt="Img" >
          <div class="card-body">
            <h5 class="card-title">Proyecto Api Rest </h5>
            <p class="card-text">Creacion de una aplicacion para registrar productos, utilizacion de Java y Spring boot para realizar la parte Back-End y utilizacion de angular para el lado Front -End</p>
            <a href="https://github.com/mauricioatm20/angular-app" class="btn btn-outline-light" target="_blank">GitHub</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img [src]="election"  class="img" >
          <div class="card-body">
            <h5 class="card-title">Concecionario</h5>
            <p class="card-text">Creacion de un proyecto concecionario con Java y Sprig FrameWork
              Creacion de los CRUD y las entidades utilizacion de anotaciones para el mapeado con la base de datos. Utilizacion de Mysql como base de datos. Html y CSS para el cuerpo y los estilos de la aplicacion.</p>

            <a href="https://github.com/mauricioatm20/Concesionario" class="btn btn-outline-light" target="_blank">GitHub</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img [src]="concesionario" class="img" alt="Proyecto 3">
          <div class="card-body">
            <h5 class="card-title">Web Futbol</h5>
            <p class="card-text">Creacion de una pagina web de futbol con Python, Django, Mysql, Htlm, Css y Docker. El proyecto se trata de una pagina web que recoge los resultados de un equipo y utilizando
            librerias como numpy y matplotlib se crean graficos y estdisticas para seguir la evolucion del equipo segun transcurran las jornadas</p>

            <a href="https://github.com/mauricioatm20/futbol_docker" class="btn btn-outline-light" target="_blank" >GitHub </a>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
